<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta id="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Zipcodes</title>
</head>

<body>
    <div id="container">
        <h1>Enter Locations</h1>
        <form id="loc" action="/submit" method="post">
            <table>
                <tr>
                    <td><label for="loc1">Location 1: </label></td>
                    <td><input type="text" name="loc1" placeholder="Zipcode 1" required></td>
                </tr>
                <tr>
                    <td><label for="loc2">Location 2: </label></td>
                    <td><input type="text" name="loc2" placeholder="Zipcode 2" required></td>
                </tr>
                <tr>
                    <td><label for="loc3">Location 3: </label></td>
                    <td><input type="text" name="loc3" placeholder="Zipcode 3" required></td>
                </tr>
                <tr>
                    <td><label for="loc4">Location 4: </label></td>
                    <td><input type="text" name="loc4" placeholder="Zipcode 4" required></td>
                </tr>
                <tr>
                    <td><label for="loc5">Location 5: </label></td>
                    <td><input type="text" name="loc5" placeholder="Zipcode 5" required></td>
                </tr>
                <tr>
                    <td><label for="loc6">Location 6: </label></td>
                    <td><input type="text" name="loc6" placeholder="Zipcode 6" required></td>
                </tr>
                <tr>
                    <td><label for="loc7">Location 7: </label></td>
                    <td><input type="text" name="loc7" placeholder="Zipcode 7" required></td>
                </tr>
                <tr>
                    <td><label for="loc8">Location 8: </label></td>
                    <td><input type="text" name="loc8" placeholder="Zipcode 8" required></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td />
                    <td><input type="submit" name="submit" value="Submit"></td>
                    <td />
                </tr>
            </table>
        </form>
    </div>
</body>

</html>